.ENSC-image {
  background-image: url("https://www.lycee-jeanhyppolite.fr/images/Informations_pratiques/Orientation/ENSC2017-1.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:97vh;
}

.connexion {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 3px black;
  -webkit-box-shadow: 0 0 3px black;
  box-shadow: 0 0 3px black;
}